services:
  server:
    build: ./server
    container_name: rich_server
    restart: always
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: development
      MONGODB_URI: mongodb://mongo:27017/richenglish
    depends_on:
      - mongo

  client:
    build: ./client
    container_name: rich_client
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - server

  mongo:
    image: mongo:6
    container_name: rich_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
